//--Colors-----------------------------------
// Light
$light-bg:#FCFCFD;
$light-text:#0E141F;
$light-primary:#47629A;
$light-seconday:#DCE2EF;
$light-accent:#5071AF;

// Dark
$dark-bg:#0E141F;
$dark-text:#FCFCFD;
$dark-primary:#47629A;
$dark-seconday:#101623;
$dark-accent:#B9C6DF;

//-------------------------------------------
