@use './resets';
@use './components/btns';
@use './components/logo';
@use './components/nav-top';
@use './components/nav-bottom';
@use './components/small-article-news-page';
@use './pages/article';
@use './pages/login';
@use './themes/dark';
@use './themes/light';


@mixin btn{
    display: block;
}

/////////////////////////////////////////////////////
$font-weights: (
    "regular": 400,
    "medium":500,
    "bold":700,
);
/////////////////////////////////////////////////////

.container{
    max-width: 100vw;
    min-height: calc(100vh - 100px);
    display: inline-flex;
    padding: 70px 15px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}