* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

.t-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.light {
  background: #FCFCFD;
  color: #0E141F;
}
.light .containerx {
  background-color: #FCFCFD;
}
.light .nav {
  background-color: #F3F4F5;
}
.light .bottom-nav {
  background-color: #F3F4F5;
}
.light .nav-panel {
  background-color: #FCFCFD;
}
.light .nav-panel__item, .light .nav-panel a {
  color: #0E141F;
}

.dark {
  background: #0E141F;
  color: #FCFCFD;
}
.dark body {
  background-color: #182439 !important;
}
.dark .containerx {
  background-color: #182439;
}
.dark .nav {
  background-color: #0E141F;
}
.dark .logo span:first-of-type {
  color: #47629A;
}
.dark .logo span:nth-of-type(2) {
  color: #FCFCFD;
}
.dark .bottom-nav {
  background-color: #0E141F;
}
.dark .bottom-nav .btn-item {
  background: #182135;
}
.dark .nav-panel {
  background-color: #0E141F;
}
.dark .nav-panel__item, .dark .nav-panel a {
  color: #FCFCFD;
}
.dark .search-panel {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  background: #0E141F;
}
.dark .search-panel input {
  border: 1px solid #47629A;
  background: #0E141F;
  color: white;
}
.dark .search-panel .input-div__search-btn {
  color: #47629A;
}
.dark .search-panel__item {
  background-color: #0E141F;
  color: #FCFCFD;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #47629A;
}
.dark .search-panel__item__title {
  color: #FCFCFD;
}
.dark .article {
  background: #0E141F;
  border: 1px solid #101623;
}
.dark .article__text {
  color: #FCFCFD;
}

.nav {
  position: fixed;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.nav__item {
  display: flex;
  flex-shrink: 0;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 13px 13px 12px 12px;
  width: 50px;
}
.nav__logo {
  min-width: 110px;
}
.nav .mode-select {
  width: 70px;
  padding: 0;
}

.logo {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: Kufam;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.logo span:first-of-type {
  color: #47629A;
}
.logo span:nth-of-type(2) {
  color: #0E141F;
}

#mode-select {
  transition-duration: 500ms;
  transition-property: margin-right;
}

#mode-select__circle {
  transition: cx 500ms, fill 500ms;
  -webkit-transition: cx 500ms, fill 500ms;
  -moz-transition: cx 500ms, fill 500ms;
  -ms-transition: cx 500ms, fill 500ms;
  -o-transition: cx 500ms, fill 500ms;
}

.bottom-nav {
  background-color: #F3F4F5;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
}
.bottom-nav .btn-item {
  width: 90px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 95px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), #F3F4F5;
  text-align: center;
}
.bottom-nav .btn-item .fa-solid {
  margin-top: 12px;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

.article {
  border-radius: 20px;
  background: #DCE2EF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 360px;
  height: 292px;
}
.article__text {
  padding: 15px 0;
  min-height: 75px;
  color: #0E141F;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 335px;
  height: 75px;
  flex-shrink: 0;
  margin: auto;
}
.article__container {
  padding: 20px 0;
}
.article__img {
  width: 360px;
  height: 195px;
  flex-shrink: 0;
  background: url("/img/1.png"), lightgray 50%/cover no-repeat;
}
.article__img__tags {
  padding-top: 5px;
  padding-right: 10px;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.article__img__tags__tag {
  width: 50px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #959595;
  color: #FCFCFD;
  text-align: center;
  font-family: lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-panel {
  z-index: 1;
  transition-duration: 500ms;
  width: 100%;
  position: fixed;
  top: 50px;
  right: 100vw;
  background-color: #FCFCFD;
  display: flex;
  padding: 20px 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 0px 0px 20px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  background: #FCFCFD;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.search-panel__active {
  right: 0;
}
.search-panel input {
  width: 100%;
  height: 48px;
  border-radius: 20px;
  background: #EFEFEF;
  border: none;
  padding: 0 1rem;
}
.search-panel .input-div {
  position: relative;
  width: 100%;
}
.search-panel .input-div__search-btn {
  position: absolute;
  top: 12px;
  right: 17px;
}
.search-panel .input-div .fa-magnifying-glass {
  font-size: 25px;
}
.search-panel__active {
  right: 0;
}
.search-panel__item {
  border-radius: 20px;
  background: #D9D9D9;
  width: 100%;
  height: 76px;
  flex-shrink: 0;
  display: flex;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.search-panel__item__img {
  min-width: 76px;
  height: 76px;
  flex-shrink: 0;
  border-radius: 20px 0px 0px 20px;
  background: url("/img/1.png"), lightgray 50%/cover no-repeat;
}
.search-panel__item__title {
  display: flex;
  width: 277px;
  height: 76px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: Inder;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.containerx {
  width: 100%;
  display: inline-flex;
  padding: 70px 15px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.nav-panel {
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 76px 0;
  gap: 65px;
  position: fixed;
  top: 50px;
  right: 100vw;
  transition-duration: 500ms;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  opacity: 0.9;
  background: #0E141F;
}
.nav-panel__item {
  color: #FCFCFD;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-panel__active {
  right: 0;
}

.full-article__details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  text-align: center;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.full-article__details__author {
  color: #47629A;
}
.full-article__details__time {
  color: #FCFCFD;
}
.full-article__content {
  margin-top: 10px;
  color: #FCFCFD;
  font-family: lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 125% */
}/*# sourceMappingURL=main.css.map */