@import './resets';
@import './variables';
@import './functions';
@import './components/btns';
@import './components/logo';
@import './components/nav-top';
@import './components/nav-bottom';
@import './components/small-article-news-page';
@import './pages/article';
@import './themes/dark';
@import './themes/light';

@mixin btn{
    display: block;
}

/////////////////////////////////////////////////////
$font-weights: (
    "regular": 400,
    "medium":500,
    "bold":700,
);
/////////////////////////////////////////////////////

.container{
    max-width: 100vw;
    min-height: calc(100vh - 100px);
    display: inline-flex;
    padding: 70px 15px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}