// Zmienne
@import '../variables';

.full-article{
    font-family: Lato;
    &__title{
        font-family: Lato;
        font-size: 18px;
        text-transform: capitalize;
        margin-bottom: 10px;
    }

    &__details{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        text-align: center;
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__content{
        margin-top: 10px;
        font-family: lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px; /* 125% */
    }
}

// Dark theme
.dark{
    .full-article{
        &__details{
            color: $dark-text;
            &__author{color: $dark-primary;}
        }
    }
}

// Light theme
.light{
    .full-article{
        &__details{
            color: $light-text;
            &__author{color: $light-primary;}
        }
    }
}



.comment-create, .comment-box{
    background: $dark-bg-secondary;
    width: 100%;
    font-family: lato;
    // border: 1px solid $dark-seconday;
    border-radius:$radius;
    //width: 360px;
    // height: 212px;
    flex-shrink: 0;
    border-radius: $radius;
    background: $light-bg-secondary;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    h3{
        margin-top: 12px;
        margin-bottom: 17px;
        margin-left: 16px;

        color: #000;
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
    }

    textarea{
        margin: 0 10px;
        width: 340px;
        height: 95px;
        flex-shrink: 0;
        border-radius: $radius;
        background:$light-bg;

        padding: .2rem 1rem;
    }


    &__read-comments{
        display: flex;
        flex-direction: column;
        gap: 12px;

        padding: 10px;

        &__comment{
            width: 340px;
            // height: 84px;   
            flex-shrink: 0;
            margin: auto;

            // border: 1px solid black;

            border-radius: $radius;
            // background-color: $dark-seconday;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), #F3F4F5;

            &__top{
                display: flex;
                justify-content: space-between;
                padding: 10px;
                font-weight: bold;
                font-size: 12px;
            }

            &__mid{
                padding: 10px;
            }
            
            &__bottom{
                padding: 10px;
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
}

.btn{
    min-width: 156px;
    height: 45px;
    flex-shrink: 0;
    display: block;
    border-radius:$radius;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    border: 1px solid rgba(0, 0, 0, 0);
    line-height: 45px;
    
    text-align: center;
    font-family: lato;
    font-size: 18px;
    font-weight: 400;
    margin: 10px auto 10px auto;

    &:hover{
        cursor:pointer;
    }
}

.btn-big{
    width: 260px;
}

.btn-sm{
    width: 156px;
}

// Dark theme
.dark{
    .btn{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), $dark-bg-secondary;
        color: $dark-text;
        border: 1px solid $dark-primary;

        &:hover{
            background: $light-primary;
            background-blend-mode: darken;
        }
    }

    .comment-create, .comment-box{
       color: $dark-text;
       background-color: $dark-bg-secondary;
       border: 1px solid $dark-primary;

       h3{color: $dark-text;}

        &__read-comments{
            &__comment{
                background-color: $dark-seconday;
                color: $dark-text;
               
            }
        }
    }
}

// Light theme
.light{
    .btn{
        background: $light-primary;
        color: $dark-text;

        &:hover{
            
            background: $light-seconday;
            background-blend-mode: darken;
        }
    }
    .comment-create, .comment-box{
        color: $light-text;

      

        &__read-comments{
            &__comment{
                background-color: $light-seconday;
                color: $light-text;
               
            }
        }
    }
}

// Dark theme
.dark{
    .comment-box__read-comments__comment__top{
        &__time{color: $dark-text;}
        &__author{color: $dark-primary;}
    }
    
}

// Light theme
.light{
    .comment-box__read-comments__comment__top{
        &__time{color: $light-text;}
        &__author{color: $light-primary;}
    }
}