// nav-top
.nav-top{
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    &__item{
        display: flex;
        flex-shrink: 0;
        height: 50px;
        align-items: center;
        justify-content: center;
        padding: 13px 13px 12px 12px;
        width: 50px;
    }

    &__logo{
        min-width: 110px;
    }

    .mode-select{
        width: 70px;
        padding: 0;
    }
    
    #mode-select{
        transition-duration: 500ms;
        transition-property: margin-right;

        &__circle{
            transition: cx 500ms, fill 500ms;
            -webkit-transition: cx 500ms, fill 500ms;
            -moz-transition: cx 500ms, fill 500ms;
            -ms-transition: cx 500ms, fill 500ms;
            -o-transition: cx 500ms, fill 500ms;
        }
    }
}

// Dark Theme
.dark{
    .nav-top{
        background: $dark-bg;
        color: $dark-text;
    }
}

// Light theme
.light{
    .nav-top{
        background-color: $light-bg-secondary;
        color: $light-text;
    }
}


// Search panel
.search-panel{
    z-index: 1;
    transition-duration: 500ms;
    width: 100%;
    position: fixed;
    top: 50px;
    right: 100vw;
    
    &__active{right: 0;}

    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


    input{
        width: 100%;
        height: 48px;
        border-radius: $radius;
        padding: 0 1rem;
    }

    .input-div{
        position: relative;
        width: 100%;

        &__search-btn{
            position: absolute;
            top: 12px;
            right: 17px;
        }

        .fa-magnifying-glass{font-size: 25px;}
    }

    &__active{right: 0;}

    &__item{
        border-radius: 20px;
        width: 100%;
        height: 76px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;

        &__img{
            min-width: 76px;
            height: 76px;
            flex-shrink: 0;
            border-radius: 20px 0px 0px 20px;
            background: url("./img/1.png"), lightgray 50% / cover no-repeat;
        }

        &__title{
            display: flex;
            width: 277px;
            height: 76px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;

            font-family: Inder;
            font-size: 12px;
            font-weight: 400;
            text-transform: capitalize;
        }
    }
   
}

// Dark Theme
.dark{
    .search-panel{
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        background: $dark-bg;

        input{
            border: 1px solid $dark-primary;
            background: $dark-bg;
            color: $dark-text;
        }

        .input-div__search-btn{color: $dark-primary;}

        &__item{
            background: $dark-bg;
            color: $dark-text;
            border-radius: 20px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            border: 1px solid $dark-primary;

            &__title{color: $dark-text;}
        }
    }
}

// Light theme
.light{
    .search-panel{
        border-top: 1px solid rgba(0, 0, 0, 0.25);
        background: $light-bg;

        input{
            border: none;
            background: $light-seconday;
            color: $light-text;
        }
    
        &__item{
            background: $light-seconday;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            color: $light-text;

            &__title{
                color: $light-text;
            }
        }
    }
}


// Nav with links (articles, main page etc..)
.nav-panel{
    width: 100vw;
    height: calc(100vh - 99px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 76px 0;
    gap: 65px;
    position: fixed;
    top: 50px;
    right: 100vw;
    transition-duration: 500ms;
    border-radius: $radius;
    opacity: 0.9;
    
    &__item{
        text-align: center;
        font-family: Lato;
        font-size: 20px;
        font-weight: 700;
    }

    &__active{right: 0;}
}


// Dark Theme
.dark{
    .nav-panel{
        background: $dark-bg;
        border-top: 1px solid rgba(255, 255, 255, 0.25);

        &__item, a{
            color: $dark-text;
        }
    }
}

// Light theme
.light{
    .nav-panel{
        background: $light-bg;
        border-top: 1px solid rgba(0, 0, 0, 0.25);

        &__item, a{
            color: $light-text;
        }
    }
}